*{
    list-style: none;
    font-family: 'Montserrat', sans-serif;  
}

:root{
    --cian: #4bc;
    --black: #000;
    --grey: #ccc;
}

nav{
    width: 100vw;
    height: 80px;
    box-shadow: 0 3px 10px var(--grey);
    display: flex;
    position: fixed;
}

body{
    margin: 0;
}

ul{
    padding: 0;
}


.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.nav-right{
    width: 50%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, .2fr);
}

.nav-right li{
    margin: 0 10px 0 10px;
    display: inline-block;
    font-weight: 700;
}

a:active,a:link,a:visited{
    text-decoration: none;
    color: var(--black);
}

.link{
    font-weight: 400;
    text-decoration: none;
    margin: 1fr 5fr;
    font-size: 25px;
    text-align: center;
}

.marca{
    font-size: 40px;
    user-select: none;
}

.addict{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    color: var(--cian);
}

.side-bar{
    display: none;
    width: 50%;
    height: calc(100vh - 80px);
    box-shadow: 3px 0 10px var(--grey);
}
.logo{
    height: 30px;
    display: none;
    width:25px;
}

@media(max-width: 700px) {
    .nav-right{
        display: none;
    }
    .nav-left{
        width: 100%;
        display: grid;
        grid-template-columns: .15fr .75fr .15fr;
        justify-items: center;
    }

    .marca{
        margin: 0;
        font-size: 35px;
        align-self: center;
    }

    .logo{
        display: inline-block;

    }
    .side-bar{
        display: grid;
        margin-top: 80px;
        position: absolute;
        grid-template-rows: 1fr 1fr;
        flex-direction: column;
        transform: translate(-110%);
        transition: 1s;
    }

    .sidebar-links{
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        justify-items: start;
    }

    .sidebar-links li {
        margin-left: 50px;
    }

    .animacion{
        transform: translate(0%);
        transition: 1s;
    }

    .sidebar-info{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    
}

